<% include partials/head.ejs %>
<body>
	<h1> Welcome To Academic Board </h1> <br> 
	<p> Academeic Board allows students and faculty to participate in classes delivered online or use online materials and activities to complement face-to-face teaching. The main purpose is to better support the development and delivery of web-enhanced, hybrid, and online instructional opportunities. </p> <br><br><br>
	

	<div class="imgcontainer">
    <img src="/img/img_avatar2.png" width="50" height="650" alt="Avatar" class="avatar">
    </div>

	<div id="create">
	<input type="text" placeholder="Enter name" id="nameInput">
	<input type="text" placeholder="Enter email" id="emailInput">
	<input type="password" placeholder="Enter password" id="passwordInput">
	<button onclick={createUser()}>Submit</button>
	<p id="errorMessage"></p>
</div>


	<script type="text/javascript">
	function createUser() {
	firebase.auth().createUserWithEmailAndPassword(emailInput.value, passwordInput.value)
		.then(function(user) {
			user.updateProfile({ displayName: nameInput.value})
				.then(function(success) {
					const db = firebase.database();
					const ref = db.ref('/users/' + user.uid);
					ref.set({ name: nameInput.value })
						.then(function(success){
							location.href = '/';
						})
						.catch(function(error) {
							console.log(error);
						})
				})
				.catch(function(error){
					console.log(error);
				});
		})
		.catch(function(error) {
			const errorMessage = document.getElementById("errorMessage");
			errorMessage.textContent = error.message;
		});
}
	</script>