<% include partials/head.ejs %>

<body>

	<% include partials/header.ejs %>

	<h2> Post Board </h2> <br>
	<p> This is the Post Board where you can discuss a topic or a group of related topics. Within this board includes an initial post and all replies to it. You can create threads and like each post within the board to encourage conversation about topics relevant to your course. </p> <br><br>

	<div id="post">
		<textarea id="post-text" placeholder="What's on your mind?"> </textarea> <br>
		<br>
		<button onclick={savePost()}> Post </button> 
	</div>

	<div id="message"> </div>





	<script type="text/javascript">

		function savePost(){
			const message = document.getElementById("message");
			const text = document.getElementById("post-text");
			const uid = firebase.auth().currentUser.uid;
			console.log(uid);
			const db = firebase.database();
			const ref = db.ref('/users/' + uid + '/post');
			
			
			const post = {
				title: 
				text: document.getElementById("post-text").value,
				date: new Date().toString()
			};
			

			ref.push(post)
			.then(function(success) {
				message.textContent = "Your post is up!";
				text.value = "";
			})
			.catch(function(error){
					console.log(error);
				});

		}

		
	</script>

	<%include partials/footer.ejs %>

</body>
</html>