<div id="header">

		<div id="menu">

			<ul>

			<li><a href="/home"> Home </a></li>

			<span id="logged-in">
				<li><a href="/post" id="post-link"> Post Board</a></li>
				<li><a href="/profile"> View Profile</a></li>
				
				<!-- <form method="GET" action="/post">
   				 	<input type="hidden" name="uid" id="userInput">
    				<input type="submit" value="Post">
 				</form>  -->
			</span>

			<li><a href="/users"> View Users </a></li>

			<div id="not-logged-in">
				<li><a href="/login">Login</a></li>
				<li><a href="/create">Create</a></li>
			</div>

			<p id="display-name"></p>
			<img id="profile-img" width="200">

			</ul>

		</div>

		



	<script>
		const userName = document.getElementById("display-name");
		const profileImg = document.getElementById("profile-img");
		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				console.log(user.uid);
				userName.textContent = "Hello, " +  user.displayName;
				if (user.photoURL)
					profileImg.src = user.photoURL;
				const postLink = document.getElementById("post-link");
				if (postLink)
					postLink.href = '/post/' + user.uid;
				document.getElementById("logged-in").style.display = "inline";
			} else {
				document.getElementById("not-logged-in").style.display = "inline";
				document.getElementById("logged-in").style.display = "none";
			}
			
		});

		function signOut() {
			firebase.auth().signOut();
			location.reload();
		}
	</script>




