<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Final: Academic Board </title>
	<link rel='stylesheet' href='/css/style.css'>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAyvF2TAMHjvlgugzF-Dr8gDQcPqGcn1Ug",
	    authDomain: "mmp350-node.firebaseapp.com",
	    databaseURL: "https://mmp350-node.firebaseio.com",
	    projectId: "mmp350-node",
	    storageBucket: "mmp350-node.appspot.com",
	    messagingSenderId: "356347407631"
	  };
	  firebase.initializeApp(config);
	</script>
</head>
